<header class="p-3 mt-4 mb-4">
	<nav class="navbar navbar-expand-lg navbar-light bg-light bg-opacity-50">
		<a class="navbar-brand" href="#">
			<img src="images/logo-sanstypo.png" width="50" height="50" class="d-inline-block align-middle" alt="">
			Les plantes du jardin du Chapoly
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="https://airtable.com/shrsDDvNjzAitoj1J" target="_blank"
						rel="noopener noreferrer">🌿🌳 Ajouter une plante manquante</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://airtable.com/shriNWpQ0MyoXQJP2" target="_blank"
						rel="noopener noreferrer">📸 Ajouter une nouvelle photo sur une plante de la liste</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://airtable.com/shr6EOCD8IqmgJFzg" target="_blank"
						rel="noopener noreferrer">📸 Ajouter une photo pour une plante inconnue</a>
				</li>
			</ul>
		</div>
	</nav>
</header>