---
layout: base.njk
pagination:
  data: plantes
  size: 1
  alias: plante
permalink: "plantes/{{ plante.name | slug }}/index.html"
---

<p>
	<a href="/plantes" class="pb-3">
		<i class="fa-solid fa-arrow-left"></i> Retour à la liste des plantes
	</a>
</p>

<h1>{{ plante.name }}</h1>

{% if plante.images %}
	{% if plante.images.length == 0 %}
		<h2>
			<del>Photos</del>
		</h2>
		<p>Aucune photo disponible pour cette plante. Aidez-nous, faites une photo et rajoutez-là&nbsp;!</p>
	{% elif plante.images.length == 1 %}
		<h2>Photo</h2>
		<img src="{{ plante.images[0] }}" alt="{{ plante.name }}" class="img-thumbnail">
	{% else %}
		<h2>Photos</h2>
		{% for image in plante.images %}
			<img src="{{ image }}" alt="{{ plante.name }}" class="img-thumbnail">
		{% endfor %}
	{% endif %}
{% endif %}

{% if plante.type %}
	<p>Type : {{ plante.type }}</p>
{% endif %}
{% if plante.notes %}
	<p>Notes : {{ plante.notes }}</p>
{% endif %}
{% if plante.link %}
	<p>
		<a href="{{ plante.link }}">Lien externe</a>
	</p>
{% endif %}