{% macro plantCard(name, notes, type, link, image_id) %}

	<div class="card rounded-2 text-center h-100 shadow-sm">

		<a href="/plantes/{{ name | slug }}/">
			{% if image_id %}
				<img src="/images/plantes/{{image_id}}.jpeg" class="card-img-top" alt="{{name}}"/>
			{% else %}
				<img src="/images/missing_plant.png" class="card-img-top" alt="Missing plant"/>
			{% endif %}
		</a>

		<div class="card-body px-3 pt-5 pb-3">

			<h4 class="card-title">{{name}}</h4>

			<ul class="list-group list-group-flush">
				{% if type %}
					<li class="list-group-item">
						<span class="badge rounded-pill
							{% if type == "Plante cultivée"%}
							text-bg-primary
							{% else %}
							text-bg-secondary
							{% endif %}
							">{{type}}</span></li>
				{% endif %}
				{% if notes %}
					<li class="list-group-item">{{notes}}</li>
				{% endif %}
				{% if link %}
					<li class="list-group-item d-print-none">
						<a href="{{link}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
						Voir fiche externe (Wikipedia, plantenet, ...)
					</a>
					</li>
				{% endif %}
				<li class="list-group-item d-print-none">
					<a href="/plantes/{{ name | slug }}/" style="text-decoration: none;">
					Voir notre fiche
				</a>
				</li>
			</ul>
		</div>
	</div>

{% endmacro %}