body {
    background: #137c6f;
    background-image: url("../images/ZenBG-1.png"), url("../images/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


.plant_photo {
    width: 100%;
    max-width: 60%;
    /* center the picture */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;


}