---
layout: base.njk
---

<div class="container bg-light">
	<div class="row">
		<div class="col-12 text-center my-5">
			<h1>Bienvenue sur le site dédié aux plantes du jardin de l'école du Chapoly&nbsp;!&nbsp;🌿</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">

			<img src="images/accueil.jpg" alt="Entrée de l'École du Chapoly" class="img-fluid mb-4 rounded"/>
		</div>
		<div class="col-md-6">
			<p>
        Ce site a été créé pour présenter les différentes plantes qui embellissent et enrichissent notre jardin d'école. Vous y trouverez des informations sur chaque plante, des photos prises par les élèves et les enseignants, ainsi que des conseils pour leur entretien et leur croissance.
      </p>
			<p>
        En explorant ce site, vous pourrez :
      </p>
			<ul>
				<li>
					<i class="fa-solid fa-leaf" style="color: #26a269;"></i> Découvrir la variété de plantes présentes dans notre jardin, avec des fiches détaillées pour chaque espèce, incluant leur nom, description, et conseils d'entretien.
        </li>
				<li>
					<i class="fa-solid fa-leaf" style="color: #26a269;"></i> Parcourir les photos de notre jardin mois par mois, afin d'admirer l'évolution de notre espace vert au fil des saisons.
        </li>
				<li>
					<i class="fa-solid fa-leaf" style="color: #26a269;"></i> Apprendre à connaître les plantes qui composent notre jardin et comprendre leur rôle dans l'écosystème local.
        </li>
			</ul>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-12 text-center">
			<h2>Commencez votre visite</h2>
		</div>
		<div class="col-md-6 my-3">
			<div class="card">
				<a href="/plantes">
					<img src="/images/plantes.png" alt="Plantes du jardin" class="card-img-top"/>
				</a>
				<div class="card-body">
					<h5 class="card-title">Plantes du jardin</h5>
					<p class="card-text">
            Découvrez les différentes espèces de plantes présentes dans notre jardin et apprenez-en davantage sur chacune d'entre elles.
          </p>

					<a href="/plantes" class="btn btn-primary">Découvrir</a>

				</div>
			</div>
		</div>
		<div class="col-md-6 my-3">
			<div class="card">
				<a href="/mois">
					<img src="/images/calendar.png" alt="Photos par mois" class="card-img-top"/>
				</a>
				<div class="card-body">
					<h5 class="card-title">Photos par mois - TRAVAIL EN COURS !</h5>
					<p class="card-text">
            Parcourez les photos prises dans notre jardin tout au long de l'année et admirez les changements saisonniers. (réalisation en cours)
          </p>
					<a href="/mois" class="btn btn-primary">Par mois</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center my-5">
			<p>
        Nous espérons que vous apprécierez votre visite sur notre site et que vous découvrirez de nouvelles plantes intéressantes. N'hésitez pas à partager ce site avec vos amis et votre famille, afin de les sensibiliser à la beauté et à l'importance de la nature qui nous entoure.
      </p>
			<p>Bonnes découvertes !</p>
		</div>
	</div>
</div>

</div>