<!DOCTYPE html>
<html lang="fr">

	<head>
		{% include "head.njk" %}

	</head>

	<body>

		{% include "header.html" %}

		<div class="container">

			<div class="bg-light p-3 my-3">
				<p> 
								Bienvenue sur le site dédié aux plantes du jardin de l'école du Chapoly ! 🌿
				</p>
				<p>
Ce site a été créé pour présenter les différentes plantes qui embellissent et enrichissent notre jardin d'école. Vous y trouverez des informations sur chaque plante, des photos prises par les élèves et les enseignants, ainsi que des conseils pour leur entretien et leur croissance.
</p>
				<p>
En explorant ce site, vous pourrez :
</p>
				<ul>
					<li>
    Découvrir la variété de plantes présentes dans notre jardin, avec des fiches détaillées pour chaque espèce, incluant leur nom, description, et conseils d'entretien.
	</li>
					<li>
    Parcourir les photos de notre jardin mois par mois, afin d'admirer l'évolution de notre espace vert au fil des saisons.	</li>
					<li>
    Apprendre à connaître les plantes qui composent notre jardin et comprendre leur rôle dans l'écosystème local.	</li>
				</ul>
				<p>
Pour commencer votre visite, veuillez consulter les pages suivantes :

</p>
				<ul>
					<li>
    Plantes du jardin : Découvrez les différentes espèces de plantes présentes dans notre jardin et apprenez-en davantage sur chacune d'entre elles.

	</li>
					<li>
    Photos par mois : Parcourez les photos prises dans notre jardin tout au long de l'année et admirez les changements saisonniers. (Développement en cours)

	</li>
				</ul>
				<p>
Nous espérons que vous apprécierez votre visite sur notre site et que vous découvrirez de nouvelles plantes intéressantes. N'hésitez pas à partager ce site avec vos amis et votre famille, afin de les sensibiliser à la beauté et à l'importance de la nature qui nous entoure.
</p>
				<p>
Bonnes découvertes !
</p>
			</div>

			<a href="plantes">
				<button type="button" class="btn btn-primary">Voir la liste des plantes</button>
			</a>
			<br><br>
			<button type="button" class="btn btn-light">Voir les photos par mois (en cours de réalisation)</button>

		</div>

		{% include "footer.html" %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

		<script>
			// Sélectionnez votre élément de menu et le bouton du hamburger
			var menu = document.querySelector('#navbarNav');
			var hamburger = document.querySelector('.navbar-toggler');

			// Initialisez le plugin Bootstrap pour le menu
			new bootstrap.Collapse(menu, {toggle: false});

			// Attachez un gestionnaire d'événements au bouton du hamburger
			hamburger.addEventListener('click', function () {
				// Basculer l'état du menu
				menu
					.classList
					.toggle('show');
			});
		</script>

		<script>
			// Sélectionnez le menu déroulant et toutes les cartes
			const filtre = document.getElementById('filtre');
			const cartes = document.querySelectorAll('.plant');

			// Ajoutez un événement de changement de valeur au menu déroulant
			filtre.addEventListener('change', () => {
				// Récupérez la valeur sélectionnée
				const valeurFiltre = filtre.value;

				// Parcourez toutes les cartes et affichez/masquez en fonction de la valeur sélectionnée
				cartes.forEach(carte => {
					if (valeurFiltre === 'all' || carte.dataset.type === valeurFiltre) {
						carte.style.display = 'block';
					} else {
						carte.style.display = 'none';
					}
				});
			});
		</script>
	</body>

</html>