---
layout: base.njk
---

		{% from "./_includes/components/screenPlantCard.njk" import screenPlantCard %}
		{% from "./_includes/components/printPlantCard.njk" import printPlantCard %}

			<div class="row">

				{% set monthsList = ["01 - Janvier", "02 - Février", "03 - Mars", "04 - Avril", "05 - Mai", "06 - Juin", "07 - Juillet", "08 - Août", "09 - Septembre", "10 - Octobre", "11 - Novembre", "12 - Décembre"] %}

				{% for month in monthsList %}

					<h2 class="bg-light p-2">{{ month.split(" - ")[1] }}</h2>

					{# RÉCUPÉRER LES PHOTOS DU MOIS #}
					{% set monthData = mois[month] %}
					
					{# Vérifier si nous avons des données pour ce mois #}
					{% if monthData %}

						{# Affichage de débogage pour vérifier les données #}
						{# {{ mois[month] | dump }} #}

						{# Parcourir chaque plante pour le mois donné #}
						{% for plantId, photos in monthData %}

														{# Afficher les photos de la plante #}
						
							{% for photo in photos %}

													
								{# Afficher la photo #}

									{# {{photo.large_photo_id | dump}} #}
									{{screenPlantCard(photo.plant_name, "", "", "", photo.large_photo_id)}}
									
								

							{% endfor %}

						{% endfor %}

					{% else %}
						<p>Aucune photo pour ce mois.</p>
					{% endif %}

				{% endfor %}

			</div>



