---
layout: base.njk
---

		{% from "./_includes/components/screenPlantCard.njk" import screenPlantCard %}
		{% from "./_includes/components/printPlantCard.njk" import printPlantCard %}


<h1>Toutes les plantes du Chapoly</h1>

			<!-- Créez un menu déroulant pour les filtres avec la classe "form-control" -->
			<select id="filtre" class="form-control mt-3 mb-5">
				<option value="all">Toutes les plantes</option>
				<option value="Plante sauvage">Plantes sauvages</option>
				<option value="Plante cultivée">Plantes cultivées</option>
			</select>

			<div class="row d-print-none">

				{% for plante in plantes %}

					{{screenPlantCard(plante.name, plante.notes, plante.type, plante.link, plante.thumbnail_id)}}

				{% endfor %}

			</div>

			<div class="row d-none d-print-grid">

				{% for plante in plantes %}

					{{printPlantCard(plante.name, plante.notes, plante.type, plante.link, plante.image)}}

				{% endfor %}

			</div>

		</div>

