<!DOCTYPE html>
<html lang="fr">

	<head>
		{% include "head.njk" %}

		{% from "./_includes/components/screenPlantCard.njk" import screenPlantCard %}
		{% from "./_includes/components/printPlantCard.njk" import printPlantCard %}

	</head>

	<body>

		{% include "header.njk" %}

		<div class="container">

			<!-- Créez un menu déroulant pour les filtres avec la classe "form-control" -->
			<select id="filtre" class="form-control mt-3 mb-5">
				<option value="all">Toutes les plantes</option>
				<option value="Plante sauvage">Plantes sauvages</option>
				<option value="Plante cultivée">Plantes cultivées</option>
			</select>

			<div class="row d-print-none">

				{% for plante in plantes %}

					{{screenPlantCard(plante.name, plante.notes, plante.type, plante.link, plante.thumbnail_id)}}

				{% endfor %}

			</div>

			<div class="row d-none d-print-grid">

				{% for plante in plantes %}

					{{printPlantCard(plante.name, plante.notes, plante.type, plante.link, plante.image)}}

				{% endfor %}

			</div>

		</div>

		{% include "footer.njk" %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

		<script>
			// Sélectionnez votre élément de menu et le bouton du hamburger
			var menu = document.querySelector('#navbarNav');
			var hamburger = document.querySelector('.navbar-toggler');

			// Initialisez le plugin Bootstrap pour le menu
			new bootstrap.Collapse(menu, {toggle: false});

			// Attachez un gestionnaire d'événements au bouton du hamburger
			hamburger.addEventListener('click', function () {
				// Basculer l'état du menu
				menu
					.classList
					.toggle('show');
			});
		</script>

		<script>
			// Sélectionnez le menu déroulant et toutes les cartes
			const filtre = document.getElementById('filtre');
			const cartes = document.querySelectorAll('.plant');

			// Ajoutez un événement de changement de valeur au menu déroulant
			filtre.addEventListener('change', () => {
				// Récupérez la valeur sélectionnée
				const valeurFiltre = filtre.value;

				// Parcourez toutes les cartes et affichez/masquez en fonction de la valeur sélectionnée
				cartes.forEach(carte => {
					if (valeurFiltre === 'all' || carte.dataset.type === valeurFiltre) {
						carte.style.display = 'block';
					} else {
						carte.style.display = 'none';
					}
				});
			});
		</script>
	</body>

</html>